<root>
	<base>
		<basedir>H:\20160610\临时解压文件\</basedir>
		<destdir>D:\数据管理\交换数据解析核对\五局数据解析\号单对比\号单\</destdir>
	</base>
	<numlist>
		<country>JP</country>
		<dataType>JP_A*JP_B*JP_U</dataType>
		<outfile>jp_a.csv*jp_b.csv*jp_u.csv</outfile>
		<strFound>ABSTRACT.csv</strFound>
		<header>"kind","pnfirst","pnlast","count"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<firstrow>2</firstrow>
		<columns>1*2*3*4</columns>
		<sep>[,〜]</sep>
		<match>\((.*?)\)</match>
		<rep>[\s-]</rep>
	</numlist>
	<numlist>
		<country>JP</country>
		<dataType>JP_D</dataType>
		<outfile>jp_d.csv</outfile>
		<strFound>ABSTRACT.csv</strFound>
		<header>"kind","pnfirst","pnlast","count"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<firstrow>5</firstrow>
		<columns>3*4*5*6</columns>
		<sep>[,〜]</sep>
		<match></match>
		<rep>[\s]</rep>
	</numlist>
	<numlist>
		<country>JP</country>
		<dataType>DOCUMENT\A\*DOCUMENT\S\*DOCUMENT\T\*DOCUMENT\B9\*DOCUMENT\U9\</dataType>
		<outfile>raw_jpa_a.csv*raw_jpa_s.csv*raw_jpa_t.csv*raw_jpb_b9.csv*raw_jpu_u9.csv</outfile>
		<strFound>CONTENTS2.csv</strFound>
		<header>"pubno","appno"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<firstrow>1</firstrow>
		<columns>3*4</columns>
		<sep>,</sep>
		<match></match>
		<rep>\D(-0)?</rep>
	</numlist>
	<numlist>
		<country>JP</country>
		<dataType>DOCUMENT\DG</dataType>
		<outfile>raw_jpd_DG.csv</outfile>
		<strFound>CONTENTS.CSV</strFound>
		<header>"regnum"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<firstrow>3</firstrow>
		<columns>2</columns>
		<sep>,</sep>
		<match></match>
		<rep></rep>
	</numlist>
	<sgm>
		<country>JP</country>
		<dataType>JP_D</dataType>
		<outfile>sgm_jpd_DG.csv</outfile>
		<incdir></incdir>
		<excdir>DGC*DD</excdir>
		<incfile></incfile>
		<excfile>GAZETTE.SGM</excfile>
		<header>"pubcountry","pubdate","kind","regnum","rawkind"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<labels>PUBLICATION-COUNTRY*PUBLICATION-DATE*KIND-OF-OFFICIAL-GAZETTE*REGISTRATION-NUMBER</labels>
		<date-label>pubdate</date-label>
	</sgm>
		<sgm>
		<country>JP</country>
		<dataType>JP_D</dataType>
		<outfile>sgm_jpd_DD.csv</outfile>
		<incdir></incdir>
		<excdir>DGC*DG</excdir>
		<incfile></incfile>
		<excfile>GAZETTE.SGM</excfile>
		<header>"pubcountry","pubdate","kind","appnum","rawkind"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<labels>PUBLICATION-COUNTRY*PUBLICATION-DATE*KIND-OF-OFFICIAL-GAZETTE*APPLICATION-NUMBER</labels>
		<date-label>pubdate</date-label>
	</sgm>
		<sgm>
		<country>JP</country>
		<dataType>JP_D</dataType>
		<outfile>sgm_jpd_DGC.csv</outfile>
		<incdir>DGC</incdir>
		<excdir></excdir>
		<incfile></incfile>
		<excfile>GAZETTE.SGM</excfile>
		<header>"pubcountry","pubdate","kind","regnum","rawkind"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<labels>PUBLICATION-COUNTRY*PUBLICATION-DATE*KIND-OF-OFFICIAL-GAZETTE*REGISTRATION-NUMBER</labels>
		<date-label>pubdate</date-label>
	</sgm>
	<sgm>
		<country>JP</country>
		<dataType>JP_D</dataType>
		<outfile>sgm_jpd_all.csv</outfile>
		<incdir></incdir>
		<excdir></excdir>
		<incfile></incfile>
		<excfile>GAZETTE.SGM</excfile>
		<header>"pubcountry","pubdate","kind","regnum","rawkind"</header>
		<encodingin>EUC_JP</encodingin>
		<encodingout>GBK</encodingout>
		<labels>PUBLICATION-COUNTRY*PUBLICATION-DATE*KIND-OF-OFFICIAL-GAZETTE*REGISTRATION-NUMBER</labels>
		<date-label>pubdate</date-label>
	</sgm>
</root>
